@use "sass:map";

$squareHeigth: 76px;
$squareWidth: 72px;

$square-colors: (1: rgb(159, 221, 232), 2: rgb(245, 126, 130), 3: rgb(128, 214, 128), 4: rgb(239, 239, 143), 5: rgb(253, 205, 250), 6: rgb(161, 135, 136),);

@mixin alternate-row($base, $multiplier, $elements) {
  @for $i from 1 through $elements {
    div:nth-child(#{$i}) {
      background-color: map.get($square-colors, $multiplier*($i - $base));
    }
  }
}

@mixin alternate-colors($direction: 1, $elements: 4) {
  @if $direction == 1 {
    @include alternate-row(0, 1, $elements)
  } @else {
    @include alternate-row(5, -1, $elements)
  }
}

@for $i from 1 through 6 {
  .color#{$i} {
    background-color: map.get($square-colors, $i);
  }
}

.trivialSection1 {
  transform: translateX(-250px) translateY(-400px) rotate(0deg)
}
.trivialSection2 {
  transform: translateX(195px) translateY(-145px) rotate(60deg)
}
.trivialSection3 {
  transform: translateX(195px) translateY(365px) rotate(120deg)
}
.trivialSection4 {
  transform: translateX(-250px) translateY(620px) rotate(180deg)
}
.trivialSection5 {
  transform: translateX(-695px) translateY(365px) rotate(240deg)
}
.trivialSection6 {
  transform: translateX(-695px) translateY(-145px) rotate(300deg)
}


.axis {
  position: absolute;
  left: 900px;
  top: 400px;
  
  background-color: antiquewhite;
  height: 10px;
  width: 10px;
}

.sector {
  position: absolute;
  transform-origin: center 0px 0px;
  left: 900px;
  top: 400px;
}

.upper {
  display: flex;

}

.rightwards {
  display: flex;
  align-items: center;
  @include alternate-colors();
}

.leftwards {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  @include alternate-colors(-1);
}

.downwards {
  display: flex;
  flex-direction: column;
  align-items: center;  

  @include alternate-colors(1, 6);
}

.quesitoSquare {
  width: calc($squareWidth + 10px);
  height: $squareHeigth;
  border: solid 10px black;
  border-radius: 5px;

  &:hover {
    filter: brightness(65%);
  }
}

.sideSquare {
  width: calc($squareWidth/2);
  height: calc($squareHeigth - 0px);
  border: solid 4px black;
  border-radius: 3px;

  &:hover {
    filter: brightness(65%);
  }
}

.downSquare {
  width: calc($squareWidth - 0px);
  height: calc($squareHeigth - 25px);
  border: solid 4px black;

  &:hover {
    filter: brightness(65%);
  }
}



