@use "sass:map";
@use "sass:math";


// Variable declaration
//---------------------------------------------------------------------
$squareHeigth: 55px;
$squareWidth: 55px;

$square-colors: (1: #5ac1c3, 2: #f37a34, 3: #4dac4a, 4: #f3d83d, 5: #fd84b2, 6: #a66b3a, 7: #4dac4a);
$background-color: #33586a;
$secondary-color: #e9cfc3;

$directions: "left", "right";
$degreeInterval: 5.6;

$boardWidth: 1000px;
$boardHeight: 900px;

$lateralDisplacement: 345px;
$verticalDisplacement: 200px;
$fullVerticalDisplacement: 400px;

// Mixins
//---------------------------------------------------------------------
@mixin alternate-row($base, $multiplier, $elements) {
  @for $i from 1 through $elements {
    div:nth-child(#{$i}) {
      background-color: map.get($square-colors, $multiplier*($i - $base));
    }
  }
}

@mixin alternate-colors($direction: 1, $elements: 4) {
  @if $direction == 1 {
    @include alternate-row(0, 1, $elements)
  } @else {
    @include alternate-row(5, -1, $elements)
  }
}

@mixin position-logo($dx, $dy, $degrees) {
  position: fixed;

  left: calc(50vw - $dx);
  top: calc(50vh - $dy);

  transform: rotate($degrees);

  & img {
    width: 250px;
  }
}

// Generated classes
//----------------------------------------------------------------------------
@for $i from 1 through 7 {
  .color#{$i} {
    background-color: map.get($square-colors, $i);
  }
}


@each $direction in $directions {
  @for $i from 1 through 4 {
    $degrees: 0;

    @if $direction == "left" {
      $degrees: calc(($i + 1) * (-1 * ($degreeInterval)));
    } @else {
      $degrees: calc(($i + 1) * $degreeInterval);
    }
    
    $rads: calc($degrees * 2 * math.$pi/360);
  
    $radius: 400;
  
    $dy: calc((1 - math.cos($rads)) * $radius);
    $dx: calc(math.sin($rads) * $radius/$degreeInterval);
  
    .sideSquare#{$i}#{$direction} {
      transform: translateY($dy + 0px) translateX($dx + 0px) rotate($degrees + 0deg);
    }
  }  
} 

// Classes
//----------------------------------------------------------------------------------
.logoTrivial0 {
  @include position-logo(580px, 380px, 315deg);
}

.logoTrivial1 {
  @include position-logo(-170px, 380px, 45deg);
}

.logoTrivial2 {
  @include position-logo(580px, -270px, 225deg);
}

.logoTrivial3 {
  @include position-logo(-170px, -270px, 135deg);
}

.root {
  position:fixed;
  width: 100%;
  height: 100%; 
  background-color: $background-color;
}

.board {
  position: fixed;
  top: calc(50vh - $boardHeight/2);
  left: calc(46vw - $boardWidth/2);
  height: $boardHeight;
  width: $boardWidth;
  box-shadow: inset 0 0 0 5px #dcc002, 0 0 0 5px $background-color, 0 0 0 8px #dcc002, 0 0 0 15px $background-color, -2px -2px 15px 15px #000000AA;
}


.trivialSection1 {
  transform: translateX(0px) translateY(-$fullVerticalDisplacement) rotate(0deg)
}
.trivialSection2 {
  transform: translateX($lateralDisplacement) translateY(-$verticalDisplacement) rotate(60deg)
}
.trivialSection3 {
  transform: translateX($lateralDisplacement) translateY($verticalDisplacement) rotate(120deg)
}
.trivialSection4 {
  transform: translateX(0px) translateY($fullVerticalDisplacement) rotate(180deg)
}
.trivialSection5 {
  transform: translateX(-$lateralDisplacement) translateY($verticalDisplacement) rotate(240deg)
}
.trivialSection6 {
  transform: translateX(-$lateralDisplacement) translateY(-$verticalDisplacement) rotate(300deg)
}

.sector {
  position: absolute;
  transform-origin: center 0px 0px;
  left: calc(50vw - 4 * $squareWidth);
  top: 50vh;
}

.upper {
  display: flex;
}

.rightwards {
  display: flex;
  align-items: center;
  gap: 1px;
  @include alternate-colors();
}

.leftwards {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1px;

  @include alternate-colors(-1);
}

.downwards {
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 13px;

  @include alternate-colors(1, 7);
}

.quesitoSquare {
  width: calc($squareWidth + 10px);
  height: $squareHeigth;
  box-shadow: inset 0 0 0 2px black, 0 0 0 2px white, 0 0 0 4px black;
  border-radius: 5px;
  z-index: 10;
  margin-top: -5px;

  &:hover {
    filter: brightness(65%);
  }
}

.sideSquare {
  width: calc($squareWidth/2);
  height: calc($squareHeigth - 0px);
  box-shadow: inset 0 0 0 1px black, 0 0 0 3px white, 0 0 0 4px black;
  border-radius: 3px;

  &:hover {
    filter: brightness(65%);
  }
}

.downSquare {
  width: calc($squareWidth - 0px);
  height: calc($squareHeigth - 25px);
  box-shadow: inset 0 0 0 1px black, 0 0 0 3px white, 0 0 0 4px black;
  
  &:hover {
    filter: brightness(65%);
  }
}



