.root {
}

.title {
  border: 1px solid black;
  background-color: yellow;
}

.content {
  display: flex;
}

.stats {
  border-bottom: 1px solid black;
  background-color: blue;
}

.people {
}

.person {
  border-bottom: 1px solid black;
  background-color: green;
}

.candidate {
  background-color: red;
}

.customer {
  background-color: pink;
}

.avatar {
}
