@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

$border-color: rgb(40, 53, 56);
$material-color: rgb(165, 190, 197);
$paintings-width: 800px;
$paintings-height: 400px;

.root {
  padding: 100px 0 100px 0;
  box-sizing: border-box;
  background-color:rgb(63, 92, 100);
}

.paintings {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: $paintings-width;
  margin: auto;
}

.painting {
  font-family: orbitron;
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: row;
  margin: 18px;
  border-radius: 20px 0px 20px 20px;
  background-image: url(../public/images/iron.png);
  box-shadow: 0 0 0 15px $material-color, 0 0 0 18px $border-color, 15px 15px 10px 15px #000000AA;

  &:hover {
    filter: brightness(130%);
  }

  &Bought {
    filter: grayscale(100%) blur(2px);
  }

  &Bought:hover {
    filter: grayscale(100%) blur(2px);
  }

  &ImageContainer {
    width: 400px;
    height: 400px;
    background-color: pink;
    border: 1px solid $border-color;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
  }

  &Data {
    display: flex;
    width: 400px;
    flex-direction: column;
    border: 1px solid $border-color;
    justify-content: space-between;
    padding: 5px;
    border-radius: 0px 0px 20px 0px;
  }

  &Image {
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
  }

  &Name {
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    font-style: italic;
    line-height: 55px;
  }

  &Style {
    font-size: 24px;
    padding-left: 15px;
    color:rgb(165, 190, 197);
  }

  &Price {
    align-self: flex-end;
    font-size: 50px;
    border: 10px solid #FFFFFF55;
    padding: 20px;
    border-radius: 15px 0px 15px 0px;
    color: #FFFFFF55;
  }
}

.visor {
  font-family: orbitron;

  &Bar {
    width: 80px;
    height: calc($paintings-height + 170px);
    top: calc(50vh - $paintings-height/2 - 100px);
    left: calc(50vw - $paintings-width/2 - 210px);
    position: fixed;
    background-color: $material-color;
    border-radius: 30px 0 0 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &Button {
    all: unset;
    width: 80px;
    min-height: 50px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    border: 1px solid black;
    background-color: $material-color;
    border-top-left-radius: 15px;
    cursor: pointer;

    box-shadow: 0 0 10px 0px #000000AA;

    &:hover {
      filter: brightness(130%);
      box-shadow: inset 0 0 5px 0 #000000AA;
    }

    &:active {
      filter: brightness(80%);
      box-shadow: inset 0 0 15px 0 #000000AA;
    }

    & + & {
      height: 100%;
      font-size: 22px;
      border-top-left-radius: initial;
      writing-mode: sideways-lr;
    }

    &:last-child {
      border-bottom-left-radius: 15px;
    }
  }

  &Hidden {
    display: none;
  }

  &Screen {
    width: calc($paintings-width + 100px);
    height: calc($paintings-height + 100px);
    top: calc(50vh - $paintings-height/2 - 100px);
    left: calc(50vw - $paintings-width/2 - 100px);

    background-image: radial-gradient(
      farthest-corner at 40px 40px,
      rgb(17, 38, 20) 0%,
      rgba(253, 255, 255, 0) 90%
    );

    border: 1px solid black;
    border-radius: 0 0 250px 0;
    z-index: 10;
    position: fixed;
    font-family: orbitron;
    color: greenyellow;
    font-size: 21px;
    padding: 50px;
  }

  &Explanation {

  }

  &Elements {
    line-height: 40px;
  }
}

.joint {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: -30px;
  gap: 50;

  &Bolt {
    position:relative;
    z-index: 8;
    height: 80px;
    width: 25px;
    background-color: azure;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 8px 8px rgb(43, 58, 62);

    & + & {
      margin-left: 5px;
    }
  }

  &Rear {
    z-index: 0;
    background-color: rgb(61, 84, 84);
    border: 3px solid black;
    box-shadow: inset 0 0 8px 8px rgb(15, 23, 25);

    & + & {
      margin-left: 200px;
    }
  }

  &:last-child {
    display: none;
  }
}